# data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**
- knowing popular languages for Data Science
- knowing most important tools 
- practice on creating and uploading Jupyter Notebook
- learn basic syntax

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|-----|
|Jupyter Notebooks|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Auther
Mohammed Alghamdi